@model System.Collections.Generic.IList<SolarSystemDatabase.Models.LogEntry>

@if (Model.Any()) {
    <table>
        @foreach (var log in Model) {
            <tr>
                <td>
                    @{
                        var date = new DateTime(log.Date);
                    }
                    @date
                </td>
                <td>
                    @log.Message
                </td>
            </tr>
        }
    </table>
    
}